.movie_gallery {
  padding-top: 50px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * 30px);
  margin-left: calc(-1 * 30px);
  list-style-type: none;
}
.gallery_item {
  display: flex;
  flex-basis: calc((100% - 90px) / 3);
  margin-top: 30px;
  margin-left: 30px;
}
.gallery_item_info-wrapper {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  padding: 10px 5px;
}
h2 {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 430px;
  height: 370px;
  background-color: aqua;
}
