$text-color: #000000;
$white-accent: rgba(255, 255, 255, 1);
$orange-accent: rgba(255, 107, 8, 1);
$footer-text: rgba(84, 84, 84, 1);
$background-accent: rgba(0, 0, 0, 0.56);
$box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
